header,
footer {
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 100px;
  line-height: 115%;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  background: none;
}

.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32.74px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  max-width: 236.49px;
}

.cover {
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: #000000;
}

.cover__title, .cover__description {
  position: relative;
  color: #FFFFFF;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin: 20px 0;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
}

.cover__description-text {
  align-self: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #FFFFFF;
  padding: 12px 32px 11px 31px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 40px 0 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title, .card__text {
  position: relative;
  color: #FFFFFF;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  margin: 0 24px 180px;
  padding-top: 35px;
}

.footer {
  padding: 0 50px 82px;
}